<html>
		<head>
			<title>Hello</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css" />
		</head>

		<body>
			<h1> Ed and Joe's Student directory! Facebook is so 1999</h1>
<!-- the yield will show the data for whatever page is being requested i.e. /new (new.erb) -->
			<%= yield %>
		</body>
<html>